<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>5710DAF3-22DE-458D-8C90-F3DE737F81B2</string>
			<string>B2C4386E-854A-4FE1-A0E8-C26566259382</string>
			<string>------------------------------------</string>
			<string>C5189DD3-AF76-4226-B700-CE5B457714DA</string>
			<string>C76D2C79-0411-4EE7-AAF1-78B70E317C00</string>
			<string>------------------------------------</string>
			<string>46C61B04-56C8-4122-A7ED-436A03203BD8</string>
			<string>F0E35F2D-B97D-4AB4-B2A1-A0C27AB4F7CA</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>46C61B04-56C8-4122-A7ED-436A03203BD8</key>
			<dict>
				<key>items</key>
				<array>
					<string>592F5AE7-6FEF-4810-A511-53B6A6099682</string>
					<string>F42C7FAC-34AF-4A8B-BEDA-6D56B01AB78A</string>
					<string>2A6AB376-A355-4472-85CC-F5722D8D5334</string>
					<string>9F468F87-C1DB-46E7-BEE3-EF384552A6E6</string>
					<string>2F99290F-C7C7-4A69-9673-99E964CF2DA0</string>
				</array>
				<key>name</key>
				<string>Tests</string>
			</dict>
			<key>F0E35F2D-B97D-4AB4-B2A1-A0C27AB4F7CA</key>
			<dict>
				<key>items</key>
				<array>
					<string>20DAD0F4-B1A7-408E-A318-84F8D2BD089A</string>
					<string>D49D4979-C5FD-4AA8-A140-DE0470C9C89B</string>
					<string>------------------------------------</string>
					<string>FCF4C3AC-152F-457D-9F04-2DDBAF022940</string>
					<string>A65032B4-3B01-4E31-A8AD-6CDFCCC48A57</string>
					<string>------------------------------------</string>
					<string>83A01B22-F6D3-46D7-AD99-ACE23F5ED1BA</string>
				</array>
				<key>name</key>
				<string>Bugs</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Devon</string>
	<key>ordering</key>
	<array>
		<string>5710DAF3-22DE-458D-8C90-F3DE737F81B2</string>
		<string>B2C4386E-854A-4FE1-A0E8-C26566259382</string>
		<string>C76D2C79-0411-4EE7-AAF1-78B70E317C00</string>
		<string>C5189DD3-AF76-4226-B700-CE5B457714DA</string>
		<string>592F5AE7-6FEF-4810-A511-53B6A6099682</string>
		<string>F42C7FAC-34AF-4A8B-BEDA-6D56B01AB78A</string>
		<string>2A6AB376-A355-4472-85CC-F5722D8D5334</string>
		<string>9F468F87-C1DB-46E7-BEE3-EF384552A6E6</string>
		<string>2F99290F-C7C7-4A69-9673-99E964CF2DA0</string>
		<string>20DAD0F4-B1A7-408E-A318-84F8D2BD089A</string>
		<string>D49D4979-C5FD-4AA8-A140-DE0470C9C89B</string>
		<string>83A01B22-F6D3-46D7-AD99-ACE23F5ED1BA</string>
		<string>FCF4C3AC-152F-457D-9F04-2DDBAF022940</string>
		<string>A65032B4-3B01-4E31-A8AD-6CDFCCC48A57</string>
		<string>A27CB706-E2EB-44E1-B1B7-564568FDECCF</string>
		<string>546FCFB4-E798-46F5-B1A4-473FD3B558EB</string>
	</array>
	<key>uuid</key>
	<string>5847D913-1525-445F-B17B-BFF06370F874</string>
</dict>
</plist>
