<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>test</string>
	</array>
	<key>foldingStartMarker</key>
	<string>/\*\*|\{\s*$</string>
	<key>foldingStopMarker</key>
	<string>\*\*/|^\s*\}</string>
	<key>name</key>
	<string>Devon Unit Test</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>begin</key>
			<string>^(={3,})?$</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>separator.test</string>
				</dict>
			</dict>
			<key>end</key>
			<string>(?=^={3,}$)</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#testBody</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>repository</key>
	<dict>
		<key>testBody</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>^(/{3,})$</string>
					<key>beginCaptures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>separator.disabled</string>
						</dict>
					</dict>
					<key>end</key>
					<string>^/{3,}$</string>
					<key>name</key>
					<string>disabled.test</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>source.devonTest</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>^(\\{3,})$</string>
					<key>beginCaptures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>separator.focused</string>
						</dict>
					</dict>
					<key>end</key>
					<string>(?=^={3,}$)</string>
					<key>name</key>
					<string>focused.test</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#testBody</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>include</key>
					<string>#testExpected</string>
				</dict>
				<dict>
					<key>begin</key>
					<string>(^(- ){3,}[-]?$)</string>
					<key>beginCaptures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>separator.section</string>
						</dict>
					</dict>
					<key>end</key>
					<string>(?=^((- ){3,}[-])|(={3,})$)</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#testExpected</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>include</key>
					<string>source.jul</string>
				</dict>
			</array>
		</dict>
		<key>testExpected</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>^%.*?:.*?$</string>
					<key>name</key>
					<string>label.test</string>
				</dict>
				<dict>
					<key>match</key>
					<string>^%.*?$</string>
					<key>name</key>
					<string>label.test</string>
				</dict>
				<dict>
					<key>match</key>
					<string>^#.*?$</string>
					<key>name</key>
					<string>comment.test</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>scopeName</key>
	<string>source.devonTest</string>
	<key>uuid</key>
	<string>546FCFB4-E798-46F5-B1A4-473FD3B558EB</string>
</dict>
</plist>
